<div class="author">
  {% if metadata.author.image %}
    <img
      alt="Author img"
      class="author__image"
      src="/assets/images/author.webp"
      alt="Author image"
    />
  {% endif %}

  <h1 class="author__site-title">{{ metadata.author.nickname }}</h1>

  <div class="author__intro">
    <button class="author__button" onclick="location.href = '/author'" title="Clique para ver mais detalhes">
     {{ metadata.author.bio }}.
    </button>
  </div>

  {% if metadata.author.social | length %}
    <div class="author__social">
      {% for key,val in metadata.author.social %}
        <a class="author__link" href="{{ val }}" target="blank">{{ key | title }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>
