<div class="author">
  {% if metadata.author.image %}
    <img alt="Author img" class="author__image" src="/assets/images/author.webp"  alt="Author image" /><br>
  {% endif %}
  <h1 class="author__site-title">{{ metadata.author.nickname }}</h1>
  <p class="author__intro">
    {{ metadata.author.bio }}.
  </p>
</div>
