{% for post in postslist | reverse %}
  <div
    class="post-card content-box content--multiple {% if templateClass==='tmpl-index' %} post-card--index {% endif %}"
  >
  {% if post.data.cover and templateClass in ["tmpl-index", "tmpl-tags"] %}
    <div class="post-card__header">
      <img
        class="post-card__image"
        src="{{ post.data.cover }}"
        alt="{{ post.data.alt }}"
      />
    </div>
    <div class="post-card__content">
  {% else %}
    <div class="post-card__content post-card__content--no-image">
  {% endif %}
      <h2 class="post-card__title">
        {{ post.data.title }}
      </h2>

      <p class="post-card__description">
        {{ post.data.description }}
      </p>

      <time class="post-meta" datetime="{{ post.date | htmlDateString }}">
        Postado em {{ post.date | readableDate }}.
      </time>

      <div class="post-card__tags">
        <div class="post-tags" title="Clique para ver mais postagens dessa tag">
          {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a
            class="post-tags__link"
            href="{{ tagUrl | url }}"
            title="Clique para ver mais postagens dessa tag"
          >
            <span>#</span> {{ tag }}
          </a>
          {% endfor %}
        </div>
      </div>

      <a tabindex="0" class="post-card__link" href="{{ post.url | url }}">Link</a>
    </div>
  </div>
{% endfor %}
