---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="post">
  <div class="post post__content-box content-box">
    <div class="author author--detail">
      {% if metadata.author.image %}
        <img
          alt="Author img"
          class="author__image"
          src="/assets/images/author.jpg"
          alt="Author image"
        />
      {% endif %}

      <h1 class="author__site-title">{{ metadata.author.nickname }}</h1>
      <p class="author__intro">
        {{ metadata.author.bio }}
      </p>
    </div>
    {{ content | safe }}
  </div>
</article>
