<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    <link rel="icon" type="image/x-icon" href="../../assets/images/author.webp">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <!-- Dark theme script -->
    <script src="/assets/js/theme-toggle.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="header__left">
          {% if templateClass === "tmpl-post" or templateClass === "tmpl-tags"  %}
          <button
            onclick="location.href = '/'"
            class="btn btn--nav btn--nav-back-button"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path
                fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
              />
            </svg>
            Home
          </button>
          {% endif %}
        </div>
        <div class="header__right">
          <button
            class="btn btn--nav"
            onclick="toggleTheme()"
            tabindex="0"
            style="cursor: pointer; line-height: 0rem"
            title="Mudar tema do site"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="btn__icon"
              viewBox="0 0 16 16"
            >
              <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
            </svg>
          </button>
          {%- for entry in collections.all | eleventyNavigation %}
            <a
              class="nav__link {% if entry.url == page.url %} nav__link--active {% endif %}"
              href="{{ entry.url | url }}"
            >
              <div>
                <span>{{ entry.title | safe }}</span>
              </div>
            </a>
          {%- endfor %}
        <div>
      </nav>
    </header>

    <main class="main {% if templateClass %} {{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>

    <footer class="footer">
      <span class="footer__copyright">
        Copyleft
        <span class="footer__copyleft">©</span>
        <span class="footer__date"></span>
        Marcmatias
      </span>
      <a
        href="{{ metadata.author.url_repo }}"
        title="Clique e ir para o github do projeto"
        class="footer__icon"
        target="_blank"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
      </a>
    </footer>
    <script src="/assets/js/footer-date.js"></script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
