---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="post">
  <div class="main-title">
    <h1 class="post-title__text">
      {{ title }}
    </h1>

    <time class="post-meta" datetime="{{ page.date | htmlDateString }}">Postado em {{ page.date | readableDate }}</time>
  </div>

  <div class="post post__content-box content-box">

    {% if cover %}
      <div class="post__header">
        <img
          class="post-card__image"
          src="{{ cover }}"
          alt="{{ alt }}"
        /><br>
      </div>
    {% endif %}

    {{ content | safe }}

    <div class="post__footer">
        {%- for tag in tags | filterTagList %}
          {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <div class="post-tags">
            <a href="{{ tagUrl | url }}" class="post-tags__link">#{{ tag }}</a>
          </div>
        {%- endfor %}
    </div>

  </div>

  <div class="post-comments">
    <!-- Utterances container -->
    <div id="utterances-comments">
      <div class="utterances" style="height: 0"></div>
    </div>
    <script>
      function addUtterances(theme) {
        const postComments = document.querySelector('.post-comments');
        postComments.classList.add('post-comments--loading');
        const script = document.createElement('script');

        script.setAttribute('src', 'https://utteranc.es/client.js');
        script.setAttribute('repo', 'marcmatias/marcmatias.github.io');
        script.setAttribute('issue-term', 'title');
        script.setAttribute('label', '💬');
        script.setAttribute('theme', theme);
        script.setAttribute('crossorigin', 'anonymous');
        script.setAttribute('async', true);

        // Remove existing utterances iframe if exists
        const utterancesContainer = document.getElementById('utterances-comments');
        const existingIframe = utterancesContainer.querySelector('.utterances');
        if (existingIframe) {
          utterancesContainer.removeChild(existingIframe);
        }

        // Append the new script tag
        utterancesContainer.appendChild(script);

        script.onload = function() {
          const iframe = utterancesContainer.querySelector('iframe');
          if (iframe) {
            iframe.onload = function() {
              postComments.classList.remove('post-comments--loading');
            };
          }
        };

      }

      function getTheme() {
        // Check if the html tag has a 'dark' class
        return document.documentElement.classList.contains('dark')
          ? 'dark-blue'  // Dark theme
          : 'github-light'; // Light theme
      }

      const createDebounce = () => {
        let timer;
        return (fn, wait = 300) => {
          if (timer) clearTimeout(timer);
          timer = setTimeout(() => {
            if (typeof fn === 'function') {
              fn();
            }
          }, wait);
        };
      }

      const debounce = createDebounce()
      // Initialize utterances with the correct theme
      addUtterances(getTheme());

      // Observe changes to the 'class' attribute of the html tag
      const observer = new MutationObserver(() => {
        debounce(() => { addUtterances(getTheme()) })
      });

      // Start observing the HTML element for class changes
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ['class'],
      });
    </script>
  </div>
  <div class="content-buttons">
    <span class="other-posts-title">Outras postagens</span>
    {%- if collections.posts %}
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if nextPost or previousPost %}
        <div class="post-links__buttons">
          {%- if nextPost %}
            <button
              class="btn btn--post-links btn--post-links-left"
              onclick="location.href = '{{ nextPost.url | url }}'"
              title="Clique para ver postagem seguinte"
            >
              <svg
                class="btn__icon btn__icon--post-links btn__icon--post-links-left"
                xmlns="http://www.w3.org/2000/svg"
                width="16" height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                />
              </svg>
              {{ nextPost.data.title }}
            </button>
          {% endif %}
          {%- if previousPost %}
            <button
              class="btn btn--post-links btn--post-links-right"
              onclick="location.href = '{{ previousPost.url | url }}'"
              title="Clique para ver postagem anterior"
            >
              {{ previousPost.data.title }}
              <svg
                class="btn__icon btn__icon--post-links btn__icon--post-links-right"
                xmlns="http://www.w3.org/2000/svg"
                width="16" height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </button>
          {% endif %}
        </div>
      {%- endif %}
    {%- endif %}
  </div>
</article>

{% include "author.njk" %}
