/* Default */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline-color: transparent;
  outline-offset: 0rem;
  transition:
    background-color .3s,
    box-shadow  .3s ease-in-out,
    color 50ms,
    opacity .3s ease-in-out,
    outline-color .3s ease-in-out,
    outline-offset .3s ease-in-out;
}

*::selection {
  color: var(--text-selection);
  background-color: var(--bg-selection);
}

*:focus-visible {
  border-radius: .25rem;
  outline: solid .15rem;
  outline-color: var(--body-color);
  outline-offset: .1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

a:not(.button) {
  color: var(--link-color);
}

a:hover {
  opacity: .8;
}

img {
  max-width: 100%;
}
