.btn {
  align-items: center;
  background-color: var(--bg-content-color);
  border: none;
  display: flex;
  font-size: 1rem;
  color: var(--body-color);
  padding: 1rem;
  line-height: 1rem;
  border-radius: var(--radius);
  box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 2%), 1px 1px 15px 0 rgb(0 0 0 / 3%);
  cursor: pointer;
  line-height: 1rem;
}

.btn--nav {
  background-color: transparent;
  box-shadow: none;
  padding: .4rem;
}

.btn--nav {
  pointer-events: auto;
}

.btn__icon {
  overflow: visible;
}

.btn--nav:hover {
  background-color: var(--bg-content-color);
  opacity: .8;
}

.btn--nav-back-button {
  background-color: transparent;
  display: flex;
  gap: .4rem;
  font-size: .75em;
  padding: 1rem .5rem 1rem .1rem;
}

.btn--nav-back-button:hover {
  background-color: transparent;
  box-shadow: none;
  opacity: 80%;
}
