header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  padding: 0 calc(var(--space) / 2);
  top: 0;
  z-index: 10;
  pointer-events: none;
}

@media screen and (min-width: 1300px) {
  /* Make header sticky for large screens */
  header {
    position: sticky;
    width: 100%;
  }
}

header a {
  color: var(--color-text);
  font-size: 1.2em;
  text-decoration: none;
}

header a:hover {
  color: var(--color-link);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav a {
  font-size: 1em;
  text-decoration: none;
}

header nav a:last-child {
  padding-right: 0;
}
