.post-card {
  margin-bottom: var(--space);
  position: relative;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.post-card--index {
  margin-bottom: .5rem;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.post-card__header {
  grid-column: span 4;
  overflow: hidden;
  border-radius: var(--radius) 0 0 var(--radius);
  background-color: rgba(100, 100, 100, .1); 
}

.post-card__header:empty {
  display: none;
}

.post-card__image {
  height: 100%;
  object-fit: cover;
}

.post-card__title {
  margin-top: 0;
}

.post-card__tags {
  z-index: 1;
  position: relative;
  pointer-events: none;
}

.post-card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 0;
  border-radius: var(--radius);
}

.post-card__link:focus-visible {
  opacity: 1;
}

.post-meta {
  font-size: 0.9rem;
  opacity: 0.8;
}

.post-tags {
  margin: 1em 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: .6rem .01rem;
}

.post-tags__link {
  margin-right: 0.7em;
  font-size: 0.8em;
  color: currentColor;
  text-decoration: none;
  background-color: var(--bg-color);
  color: currentColor !important; /* Todo: remove important; */
  padding: .5em .7rem .5rem .5rem;
  border-radius: var(--radius);
  pointer-events: auto;
  outline: solid transparent .15rem;
}
.post-tags__link:focus-visible,
.post-tags__link:hover {
  outline-color: var(--body-color);
  outline-offset: .1rem;
  opacity: 1;
}

.post-card__content {
  grid-column: span 8;
  padding: var(--space-sm);
}

.post-card__content--no-image {
  grid-column: span 12;
}

@media screen and (max-width: 992px) {
  .post-card {
    display: block;
  }
  .post-card__header {
    border-radius: var(--radius) var(--radius) 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    max-height: 280px;
  }
}

@media screen and (max-width: 768px) {
  .post-card__header {
    border-radius: var(--radius) var(--radius) 0 0;
    max-height: 250px;
  }
}
