/* Any image thats not header post image */
.post img:not([class]) {
  border-radius: var(--radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.post__content-box {
  padding: var(--space);
  overflow-wrap: break-word;
  word-break: break-word;
}

.post__header {
  width: calc(100% + var(--space) * 2);
  margin-left: calc(var(--space) * -1);
  margin-top: calc(var(--space) * -1);
  margin-bottom: calc(var(--space) * .8);
  overflow: hidden;
  border-radius: var(--radius) var(--radius) 0 0;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 3.9em;
  min-height: 600px;
  background-color: rgba(100, 100, 100, .1);
}

/* Make  things smaller for mobile */
@media screen and (max-width: 992px) {
  .post__header {
    min-height: 200px;
  }
}

.post__header:empty {
  display: none;
}

.post-title__text {
  margin: 0rem 0rem 1rem;
  font-size: 1.802em;
  padding: 0rem;
}

.post__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem .01rem;
}

.post__content img {
  width: calc(100% + var(--space) * 2);
  margin-left: calc(var(--space) * -1);
  display: block;
  max-width: none;
}

.post__comments {
  background-color: var(--bg-content-color);
  max-width: var(--content-width);
  margin: 0 auto;
  transition: background-color 0.6s;
  padding: var(--space);
}

.post__comments:empty {
  display: none;
}

.post__author {
  margin-top: calc(var(--space) / 2);
}

.post-links__buttons {
  display: flex;
  gap: .5rem;
}

/* Make buttuns use full width in small screens */
@media screen and (max-width: 650px) {
  .post-links__buttons {
    flex-direction: column;
  }
}

.other-posts-title {
  display: block;
  font-size: .9rem;
  opacity: .8;
  margin: .5em 0 1.5em 0;
}

.btn--post-links {
  gap: .5rem;
  width: 100%;
  outline: solid 2px;
  outline-color: transparent;
  text-align: center;
  justify-content: center;
  position: relative;
  padding: 1rem 2.5rem;
}

.btn__icon--post-links {
  position: absolute;
}

.btn__icon--post-links-left {
  left: 15px;
}

.btn__icon--post-links-right {
  right: 15px;
}

.btn--post-links:hover,
.btn--post-links:focus-visible {
  outline-color: var(--body-color);
  outline-offset: .2rem;
}
