/* Light default theme */
html {
  --base-font-size: 18px;
  --bg-color: #f3f7f9;
  --bg-content-color: #fff;
  --bg-code: #f6f8fa;
  --body-color: #444;
  --list-disk-color: #aaa;
  --title-color: #111;
  --link-color: #6b17e6;
  --border-color: rgba(0,0,0,.1);
  --text-selection: #fff;
  --bg-selection: #0000e2;
  --space: 3.5rem;
  --space-sm: 1.5rem;
  --content-width: 992px;
  --content-width--multiple: 860px;
  --header-height: 80px;
  --radius: 5px;
  --hr-color: rgba(50,50,50,0);
  --hr-middle-color: rgba(50,50,50,0.65);
  --skeleton-linear-gradient: linear-gradient(
    90deg,
    hsla(210, 15%, 88%),
    hsla(210, 15%, 95%),
    hsla(210, 15%, 88%)
  );
  --scrollbar-thumb-color: rgb(125, 125, 125);
  --scrollbar-thumb-hover-color: rgb(100, 100, 100);
}

/* Make  things smaller for mobile */
@media screen and (max-width: 768px) {
  html {
    --base-font-size: 16px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}

/* Override variables for Dark theme */
html.dark {
  --bg-color: #0D2538;
  --bg-content-color: #0f2d44;
  --bg-code: rgba(0,0,0,.3);
  --border-color:  rgba(255,255,255,.1);
  --body-color: #ced8de;
  --list-disk-color: #b7c1c7;
  --title-color: #fff;
  --link-color: #af9cef;
  --hr-color: rgba(255,255,255,0);
  --hr-middle-color: rgba(255,255,255,0.65);
  --skeleton-linear-gradient: linear-gradient(
    90deg,
    hsla(210, 40%, 28%, .3),
    hsla(210, 40%, 35%, .4),
    hsla(210, 40%, 28%, .2)
  );
  --scrollbar-thumb-color: rgb(125, 125, 125);
  --scrollbar-thumb-hover-color: rgb(150, 150, 150);
}
