---
permalink: /posts/
layout: layouts/home.njk
templateClass: tmpl-archive
type: website
---

<h1 class="main-title" >Arquivo</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
